ClienteSOAP/Connected Services/SOAPReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56536/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/aplicacion_soap" />
  <xs:element name="GetUsuarios">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/aplicacion_soap" minOccurs="0" name="GetUsuariosResult" nillable="true" type="q1:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/aplicacion_soap" minOccurs="0" name="user" nillable="true" type="q2:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddUsuarioResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sumar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumarResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>